body {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('images/background.png');
}

.score {
  color: brown;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  position: absolute
}

#title {
  margin-top: 50px;
}

#instructions {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 120%;
  line-height: 5px;
  
}

.start {
  text-align: center;
  background-color: #07252d;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.flashing {
  background-color: rgba(255, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  position: absolute;
  margin: 0;
  z-index: 1000;
  animation: flash 1.2s linear;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 0, 0, 0.3);
  }

  25.0% {
    background-color: rgba(255, 255, 255, 0.3);
  }

  50.0% {
    background-color: rgba(255, 0, 0, 0.3);
  }

  75.0% {
    background-color: rgba(255, 255, 255, 0.3);
  }

  100.0% {
    background-color: rgba(255, 0, 0, 0.3);
  }
}


.pts {
  font-weight: bold;
  font-size: 100px;
  color: #fff;
  margin: 50px 0 10px 0;
  padding: 0;
}

#ptsTag {
  color: #fff;
  font-size: 25px;
  margin: 0 0 50px 0;
}

#startGameEl {
  background-color: rgb(59, 191, 224);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  padding: 15px 150px;
  margin-bottom: 30px;
}

#highScore {
  color: white;
  font-size: 40px;
  font-weight: medium;
  letter-spacing: 10px;
  padding: 40px;
  text-transform: uppercase;
  text-align: center;
  animation: animate 2.5s linear;
  animation-iteration-count: infinite;
  text-shadow: 0px 0px 20px #fff,
    0px 0px 30px #fff,
    0px 0px 10px #fff,
    0px 0px 1px #fff;
}

#highScoreEl {
  font-size: 70px;
  padding: 10px;
}

@keyframes animate {
  0%, 15%, 25%, 65%, 95% {
    color: #111;
    text-shadow: none;
  }

  10%, 20%, 31%, 60%, 100% {
    color: #fff;
    text-shadow: 0px 0px 20px #fff,
      0px 0px 30px #fff,
      0px 0px 10px #fff,
      0px 0px 1px #fff;
  }

}