body {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 90vw;
  /* overflow: hidden; */
  background-image: url('images/background.png');
}

.score{
color: brown;
font-size: 20px;
margin: 20px;
position: absolute
}

.start{
margin: auto;
text-align: center;
background-color: white;
border-radius: 5px;
font-size: 25px;
padding: 30px;
height: 250px;
width: 600px;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);                  
}

.pts{
  font-weight: bold;
}

#startGameEl{
background-color: rgb(59, 191, 224);
color: white;
border: none;
border-radius: 50px;
font-size: 20px;
padding: 15px 150px;
}

.difficulty{
  display: inline-block;
  margin: 0 auto;
  width: max-content;

}
